.title-input {
	max-width: 100%;
	background: transparent;
	border: none;
	border-radius: 4px;
	font-size: 20px;
	padding: 10px;
	color: lightgray;

	margin-bottom: 5px;
}

.title-input:not(:focus) {
	border-left: 2px solid darkgray;
	border-radius: 0px;
	margin-left: -2px;
}

.title-input:focus {
	outline: 1px solid darkgray;
}
