#root {
	max-width: 1280px;
	margin: 0 auto;
	/* padding: 2rem; */
	text-align: center;
}

.prism-code-editor {
	height: 100%;
	width: 100%;
	background: transparent !important;

	line-height: 14px;
	font-size: small;
}

.pce-overlays {
	padding-right: 0.75rem !important;
}

textarea {
	height: 100%;
	width: 100%;
}

h1 {
	font-size: xx-large;
}

h2 {
	font-size: x-large;
}

h3 {
	font-size: larger;
}

h4 {
	font-size: large;
}
