#root {
	max-width: 1280px;
	margin: 0 auto;
	/* padding: 2rem; */
	text-align: center;
}

hr {
	color: #303741;
	margin: 16px 0;
	border-top: 0px;
}

button {
	background: transparent;
	border: none;
	padding: 8px;
	border-radius: 8px;
	transition: 0.3s;
}

button:hover {
	background: #303741;
	cursor: pointer;
}
