#root {
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
}

body {
	overflow: hidden;
}

hr {
	color: #303741;
	margin: 16px 0;
	border-top: 0px;
}

button {
	background: transparent;
	border: none;
	padding: 8px;
	border-radius: 8px;
	transition: 0.3s;
}

button:hover {
	background: #303741;
	cursor: pointer;
}

.app-container {
	max-width: 1280px;
	height: 85dvh;
	width: 75dvw;
	text-align: left;
	transition: ease width 0.1s;

	&.dragging {
		.prism-code-editor,
		.rendered-markdown {
			margin: -2px;
			border: 2px dashed #ccc;
			background: #343434 !important;
		}
	}
}

.title-bar {
	display: flex;
	flex-direction: row;
	gap: 5px;
	margin-bottom: 5px;
}

@media screen and (max-width: 800px) {
	.app-container {
		width: 95dvw;
	}
}

.bottom-bar {
	overflow: hidden;
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 200px;
	left: 50%;
	transform: translate(-50%, 0);
	transition: ease-in-out bottom 0.5s, ease-out margin-top 0.5s;

	.bottom-activiation {
		padding-bottom: 30px;
	}
	.bottom-content {
		margin-top: 40px;
		position: absolute;

		width: 200px;
	}

	&.closed {
		bottom: -20px;
	}

	&.open {
		bottom: 10px;
	}
}
