.rendered-markdown {
	width: 100%;
	overflow-wrap: break-word;

	p {
		margin-bottom: 20px;
		/* TODO: something is wrong here... */
		/* height: 20px; */
		line-height: 20px;
		font-size: 16px;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	a {
		overflow-wrap: anywhere;
	}

	pre {
		overflow-x: auto;
		max-width: 100%;
	}

	table {
		display: block;
		overflow-x: auto;
	}
}
