@import "prism-react-editor/layout.css";
@import "prism-react-editor/themes/github-dark.css";
@import "prism-react-editor/search.css";

/* Update 'selection-matches' it is off... */

.prism-code-editor {
	height: calc(100% - 44px);
	width: 100%;
	background: transparent !important;

	line-height: 20px;
	font-size: 14px;

	textarea {
		padding: 0;
	}
}

.pce-wrapper {
	margin-top: 20px;
}

.pce-line {
	padding: 0;
	margin: 0;
}

.pce-overlays {
	padding-right: 0.75rem !important;
}

textarea {
	height: 100%;
	width: 100%;
}
